# Time series data acquisition exercises

In [1]:
%autosave 0

Autosave disabled

In [2]:
#Import dependencies
import pandas as pd
import requests

## Question 1

Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [3]:
#Get a response from the website using requests
response = requests.get('https://python.zgulde.net/api/v1/items')

response

In [4]:
#Look at the text
response.text

'{"payload":{"items":[{"item_brand":"Riceland","item_id":1,"item_name":"Riceland American Jazmine Rice","item_price":0.84,"item_upc12":"35200264013","item_upc14":"35200264013"},{"item_brand":"Caress","item_id":2,"item_name":"Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct","item_price":6.44,"item_upc12":"11111065925","item_upc14":"11111065925"},{"item_brand":"Earths Best","item_id":3,"item_name":"Earths Best Organic Fruit Yogurt Smoothie Mixed Berry","item_price":2.43,"item_upc12":"23923330139","item_upc14":"23923330139"},{"item_brand":"Boars Head","item_id":4,"item_name":"Boars Head Sliced White American Cheese - 120 Ct","item_price":3.14,"item_upc12":"208528800007","item_upc14":"208528800007"},{"item_brand":"Back To Nature","item_id":5,"item_name":"Back To Nature Gluten Free White Cheddar Rice Thin Crackers","item_price":2.61,"item_upc12":"759283100036","item_upc14":"759283100036"},{"item_brand":"Sally Hansen","item_id":6,"item_name":"Sally Hansen Nail Color Magnetic 903 Silver Elements","item_price":6.93,"item_upc12":"74170388732","item_upc14":"74170388732"},{"item_brand":"Twinings Of London","item_id":7,"item_name":"Twinings Of London Classics Lady Grey Tea - 20 Ct","item_price":9.64,"item_upc12":"70177154004","item_upc14":"70177154004"},{"item_brand":"Lea & Perrins","item_id":8,"item_name":"Lea & Perrins Marinade In-a-bag Cracked Peppercorn","item_price":1.68,"item_upc12":"51600080015","item_upc14":"51600080015"},{"item_brand":"Van De Kamps","item_id":9,"item_name":"Van De Kamps Fillets Beer Battered - 10 Ct","item_price":1.79,"item_upc12":"19600923015","item_upc14":"19600923015"},{"item_brand":"Ahold","item_id":10,"item_name":"Ahold Cocoa Almonds","item_price":3.17,"item_upc12":"688267141676","item_upc14":"688267141676"},{"item_brand":"Honest Tea","item_id":11,"item_name":"Honest Tea Peach White Tea","item_price":3.93,"item_upc12":"657622604842","item_upc14":"657622604842"},{"item_brand":"Mueller","item_id":12,"item_name":"Mueller Sport Care Basic Support Level Medium Elastic Knee Support","item_price":8.4,"item_upc12":"74676640211","item_upc14":"74676640211"},{"item_brand":"Garnier Nutritioniste","item_id":13,"item_name":"Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam","item_price":6.47,"item_upc12":"603084234561","item_upc14":"603084234561"},{"item_brand":"Pamprin","item_id":14,"item_name":"Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief","item_price":7.54,"item_upc12":"41167300121","item_upc14":"41167300121"},{"item_brand":"Suave","item_id":15,"item_name":"Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut","item_price":9.11,"item_upc12":"79400847201","item_upc14":"79400847201"},{"item_brand":"Burts Bees","item_id":16,"item_name":"Burts Bees Daily Moisturizing Cream Sensitive","item_price":5.17,"item_upc12":"792850014008","item_upc14":"792850014008"},{"item_brand":"Ducal","item_id":17,"item_name":"Ducal Refried Red Beans","item_price":1.16,"item_upc12":"88313590791","item_upc14":"88313590791"},{"item_brand":"Scotch","item_id":18,"item_name":"Scotch Removable Clear Mounting Squares - 35 Ct","item_price":4.39,"item_upc12":"21200725340","item_upc14":"21200725340"},{"item_brand":"Careone","item_id":19,"item_name":"Careone Family Comb Set - 8 Ct","item_price":0.74,"item_upc12":"41520035646","item_upc14":"41520035646"},{"item_brand":"Usda Produce","item_id":20,"item_name":"Plums Black","item_price":5.62,"item_upc12":"204040000000","item_upc14":"204040000000"}],"max_page":3,"next_page":"/api/v1/items?page=2","page":1,"previous_page":null},"status":"ok"}\n'

In [5]:
#Store the response in a variable
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [6]:
#Look at the keys within the payload dictionary
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [7]:
#Retrieve the items from the dictionary
items = pd.DataFrame(data['payload']['items'])
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [8]:
#How many items are in the dataframe?
items.shape

(20, 6)

At this point, I've retrieved all the information from the first page. Since there are more pages with data, I need to retrieve the data and concatenate it to my items dataframe.

In [9]:
#Set a base url for additional requests
base_url = 'https://python.zgulde.net'

In [10]:
#Make a request for the information on the next page
response2 = requests.get(base_url + data['payload']['next_page'])

In [11]:
#Store the results of the request in a new dataframe
data2 = response2.json()

items2 = pd.DataFrame(data2['payload']['items'])
items2.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Doctors Best,21,Doctors Best Best Curcumin C3 Complex 1000mg T...,8.09,753950001954,753950001954
1,Betty Crocker,22,Betty Crocker Twin Pack Real Potatoes Scallope...,7.31,16000288829,16000288829
2,Reese,23,Reese Mandarin Oranges Segments In Light Syrup,1.78,70670009658,70670009658
3,Smart Living,24,Smart Living Charcoal Lighter Fluid,5.34,688267084225,688267084225
4,Hood,25,Hood Latte Iced Coffee Drink Vanilla Latte,2.43,44100117428,44100117428

In [12]:
#Add the results of my new request to the original dataframe
items = pd.concat([items, items2]).reset_index()
items.shape

(40, 7)

In [13]:
#Check the results
items.head()

,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [14]:
#Make one more request for the final page of data
response3 = requests.get(base_url + data2['payload']['next_page'])

data3 = response3.json()

items3 = pd.DataFrame(data3['payload']['items'])

items3.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,P.f. Changs,41,P.f. Changs Home Menu Meal For Two Beef With B...,5.62,31000670016,31000670016
1,Moms Best Naturals,42,Moms Best Naturals Cereal Toasted Cinnamon Squ...,2.97,883978129115,883978129115
2,Ferrara,43,Ferrara Vanilla Syrup,8.40,71403000379,71403000379
3,Elmers,44,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403
4,Kelloggs,45,Kelloggs Disney Pixar Cars 2 Cereal,4.40,38000542237,38000542237

In [15]:
#Add the results to my items dataframe
items = pd.concat([items, items3]).reset_index()
items.shape

(50, 8)

## Question 2

Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [16]:
#Make a request for the stores data
response_stores = requests.get('https://python.zgulde.net/api/v1/stores')

data_stores = response_stores.json()

data_stores.keys()

dict_keys(['payload', 'status'])

In [17]:
#Check out the keys
data_stores['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [18]:
#Store the results of my request in a dataframe
stores = pd.DataFrame(data_stores['payload']['stores'])

stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

## Question 3

Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [19]:
#Make a request of the first page of data
response_sales = requests.get('https://python.zgulde.net/api/v1/sales')

data_sales = response_sales.json()

data_sales.keys()

dict_keys(['payload', 'status'])

In [20]:
#Take a look at the keys
data_sales['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [21]:
#What's the max page in my dataset?
data_sales['payload']['max_page'], type(data_sales['payload']['max_page'])

(183, int)

In [22]:
#Save the max page integer to a variable
max_page_sales = data_sales['payload']['max_page']

In [23]:
#Loop through the pages and concatenate the request results to my dataframe
sales_url = 'https://python.zgulde.net/api/v1/sales?page='

sales = pd.DataFrame(data_sales['payload']['sales'])

for i in range(2, max_page_sales + 1):
    response = requests.get(sales_url + str(i))
    json = response.json()
    df = pd.DataFrame(json['payload']['sales'])
    sales = pd.concat([sales, df])
    
sales.shape

(913000, 5)

In [24]:
#Reset the index
sales.reset_index(inplace=True)

## Question 4

Save the data in your files to local csv files so that it will be faster to access in the future.

In [25]:
#Store the results of my requests to csv files
items.to_csv('items.csv')
stores.to_csv('stores.csv')
sales.to_csv('sales.csv')

## Question 5

Combine the data from your three separate dataframes into one large dataframe.

In [26]:
#Left merge items onto sales
super_df = sales.merge(items, how='left',
                       left_on='item', right_on='item_id')
super_df.head()

,index_x,item,sale_amount,sale_date,sale_id,store,level_0,index_y,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [27]:
#Left merge stores onto my super dataframe
super_df = super_df.merge(stores, how='left',
                          left_on='store', right_on='store_id')
super_df.head()

,index_x,item,sale_amount,sale_date,sale_id,store,level_0,index_y,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_id,store_state,store_zipcode
0,0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
2,2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
3,3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
4,4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253

In [28]:
#Drop unnecessary columns from my dataframe
super_df.drop(columns=['index_x', 'item', 'sale_id', 'store', 'level_0',
                       'index_y', 'item_id', 'item_upc12', 'item_upc14',
                       'store_id'], inplace=True)
super_df.head()

,sale_amount,sale_date,item_brand,item_name,item_price,store_address,store_city,store_state,store_zipcode
0,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
2,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
3,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
4,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,San Antonio,TX,78253

In [29]:
#Save my dataframe
super_df.to_csv('merged_df.csv')

## Question 6

Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [30]:
#Read a csv file from a url
power_df = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [31]:
#Make sure I captured data
power_df.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [32]:
#Save to csv
power_df.to_csv('power.csv')

## Question 7

Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [33]:
#Define a function to read all items data and return a dataframe
def get_items():
    
    base_url = 'https://python.zgulde.net'
    
    response = requests.get('https://python.zgulde.net/api/v1/items')
    
    data = response.json()
    
    items = pd.DataFrame(data['payload']['items'])
    
    next_page = data['payload']['next_page']
    
    while next_page != None:
        
        response = requests.get(base_url + next_page)
        
        data = response.json()
        
        next_page = data['payload']['next_page']
        
        new_items = pd.DataFrame(data['payload']['items'])
        
        items = pd.concat([items, new_items])
    
    items.reset_index(drop=True, inplace=True)
    
    #items.to_csv('items.csv')
    
    return items

In [34]:
#Execute the function and look at results
items_test = get_items()
items_test.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [35]:
#Make sure I grab the expected number of items
items_test.shape

(50, 6)